@media(max-width: 1320px) {
    .mySwiper {
        & .swiper {
            &__slide {
                &-text {
                    width: 100%;
                    z-index: 3;
                }

                &-button {
                    padding-top: 3rem;
                }

                &-name {
                    font-size: 8rem;
                    line-height: 10rem;
                }
            }
        }
    }

    .done {
        &__title {
            font-size: 25.5rem;
        }

        &-box {
            &-text {
                font-size: 2rem;
                line-height: 3.6rem;
                font-weight: 400;
                padding-left: 10rem;
                max-width: 100%;
                width: 100%;
                padding-bottom: 8rem;
            }
        }
    }

    .mySwiper2 {
        margin-top: 20rem;
    }


    .share {
        min-height: 70rem;
        max-height: 70rem;

        &__text {
            &-what {
                font-size: 10rem;
                line-height: 10rem;
            }

            &-why {
                padding-top: 3rem;
            }
        }
    }
}

@media(max-width: 1024px) {
    .header {
        &__logo {
            &-name {
                display: none;
            }
        }
    }

    .mySwiper {
        & .swiper {
            &__slide {
                &-text {
                    padding-top: 20rem;
                }

                &-button {
                    padding-top: 20rem;
                }

                &-name {
                    padding: 2rem 1rem 0 1rem;
                }
            }

            &-slide {
                width: 100%;
                height: 100vh;

                &:nth-of-type(1) {
                    background: url('../img/header__background3.png') no-repeat center right / cover;
                }

                &:nth-of-type(2) {
                    background: url('../img/header__background2.png') no-repeat center center / cover;
                }

                &:nth-of-type(3) {
                    background: url('../img/header__background.png') no-repeat center center / cover;
                }

                & video {
                    display: none;
                }
            }
        }
    }

    .share {
        &__text {
            &-what {
                font-size: 8rem;
                line-height: 8rem;
            }

            &-why {
                padding-top: 0rem;
            }
        }
    }
}

@media(max-width: 768px) {
    .buttons {
        &.none {
            display: flex !important;
        }
    }

    .footer {
        margin-top: 10rem;
    }

    .share {
        &__text {
            &-what {
                display: none;
            }

            &-what.none {
                display: block;
            }
        }
    }

    .header {
        &__item {
            display: none;

            &.lang-item {
                display: flex;
            }
        }
    }

    .mySwiper {
        & .swiper {
            &__slide {
                &-text {
                    padding-top: 10rem;
                }

                &-button {
                    padding-top: 10rem;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .intro {
        max-height: 75rem;
        min-height: 75rem;

        &__name {
            font-size: 7rem;
            line-height: 7rem;
        }

        &__about {
            font-size: 3rem;
            line-height: 4.6rem;
        }
    }

    .share {
        background: url('../img/theatre.jpeg') no-repeat 50% 75% / cover;

        &__img {
            display: none;
        }
    }


}

@media(max-width: 475px) {
    .mySwiper {
        & .swiper {
            &__slide {
                &-name {
                    font-size: 5rem;
                    line-height: 6rem;
                }

                &-button {
                    padding-top: 10rem;
                }
            }

        }
    }

    .movies {
        & .container {
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    .mySwiper2 {
        margin-top: 5rem !important;
        & .swiper {
            &-slide {
                max-width: 25rem !important;
                width: 100% !important;

                &-active {
                    width: 100% !important;
                    max-width: 27rem !important;
                }
            }
        }
    }

    .about {
        &__text {
            font-size: 2rem;
            line-height: 3rem;
        }
    }

    .share {
        max-height: 75rem;
        min-height: 75rem;
        &::after {
            height: 10rem;
        }
        &__text {
            &-what {
                font-size: 5rem;
                line-height: 6rem;
                width: 80%;
            }
            &-why {
                font-size: 2rem;
                line-height: 3rem;
            }
        }
    }

    .intro {
        max-height: 50rem;
        min-height: 50rem;

        &__name {
            font-size: 5rem;
            line-height: 5rem;
        }

        &__about {
            font-size: 2rem;
            line-height: 2.6rem;
            padding: 0 1rem;
        }
    }

    .button-name {
        font-size: 1.4rem !important;
    }

    .button {
        margin: 0 .5rem;
        padding: 0 !important;
    }
}

@media(max-width: 450px) {
    .share {
        max-height: 75rem;
        min-height: 75rem;
    }
}


.buttons {
    &.none {
        display: none;
        align-items: center;
        justify-content: center;
    }

    & .button {
        width: 50%;
        margin: 0 1rem;
        min-height: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #ffffff20;
        padding: 2rem;
        border-radius: 1.2rem;
        margin-top: 6rem;

        & * {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6rem;
        }
    }
}