* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: white
}

html {
    font-size: 10px;
    overflow-x: hidden
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto
}

body {
    color: white;
    font-family: sans-serif;
    background: black
}

ul {
    list-style: none
}

@font-face {
    font-family: 'Bras';
    src: url("../fonts/ahellya.ttf");
    font-weight: 400
}

.top {
    max-height: 100%;
    height: 100%;
    overflow: hidden
}

.header__nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 1.5rem 0;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    max-height: 8rem;
    height: 100%
}

.header__nav .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    padding-top: 1.5rem;
    margin-right: 7rem !important
}

.header__link {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    font-size: 1.6rem
}

.header__link.lang {
    font-size: 1.6rem
}

.header__logo-link {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    column-gap: 1rem
}

.mySwiper .swiper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0
}


.mySwiper .swiper-pagination {
    bottom: 5rem !important
}

.mySwiper .swiper-pagination-bullet {
    background: white !important;
    border-radius: 0 !important;
    width: 20px !important;
    height: 2px !important
}

.mySwiper .swiper-slide-active {
    position: relative
}

.mySwiper .swiper-slide-active video {
    width: 100%;
    transform: scale(1.5)
}

.mySwiper .swiper-slide-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 30rem;
    width: 100%;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%)
}

.mySwiper .swiper-action {
    font-size: 1.6rem;
    line-height: 2.6rem
}

.mySwiper .swiper__slide video {
    width: 100%;
    position: relative
}

.mySwiper .swiper__slide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 15rem;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

}

.mySwiper .swiper__slide-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.mySwiper .swiper__slide-type {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 400
}

.mySwiper .swiper__slide-name {
    font-size: 9.6rem;
    line-height: 12rem;
    font-family: 'Bras';
    font-weight: 400;
    padding-top: 2rem
}

.main {
    overflow: hidden !important
}

.intro {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 110rem;
    overflow: hidden;
    min-height: 110rem;
    background: url("../img/main__start-background.jpeg") no-repeat center center/cover
}

.intro__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 96.5rem;
    width: 100%
}

.intro__name {
    font-size: 9.6rem;
    line-height: 10rem;
    font-weight: 900;
    width: 100%
}

.intro__about {
    font-size: 4rem;
    line-height: 5.6rem
}

.done {
    overflow: hidden
}

.done .container {
    padding-left: 6
}

.done__title {
    font-size: 30rem;
    line-height: 30rem;
    font-weight: 900;
    padding-left: 10rem
}

.done-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: -18rem
}

.done-box-camera {
    max-width: 50rem;
    width: 100%
}

.done-box-text {
    font-size: 3rem;
    line-height: 4.6rem;
    font-weight: 400;
    padding-left: 12rem;
    max-width: 100%;
    width: 100%;
    padding-bottom: 8rem
}

.mySwiper2 {
    padding-top: 2rem !important;
    margin-top: 28rem
}

.mySwiper2 .swiper-slide {
    width: 100% !important;
    max-width: 43rem !important;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.3;
    transform: scale(0.9) !important
}

.mySwiper2 .swiper-slide img {
    width: 100%;
    height: 100%;
    transition: .3s
}

.mySwiper2 .swiper-slide-active {
    opacity: 1;
    transform: scale(1.1) !important
}

.mySwiper2 .swiper-slide-active img {
    width: 100%;
    height: 100%;
    transition: .3s
}

.movies .container {
    text-align: center;
    max-width: 96rem;
    width: 100%;
    margin: 0 auto;
    font-size: 3rem;
    line-height: 4.6rem;
    margin-top: 6rem
}

.share {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 100rem;
    min-height: 100rem;
    margin-top: 25rem;
    position: relative
}

.share::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    width: 100%;
    height: 30rem
}

.share__img {
    width: 100%;
    height: 100%;
    max-width: 110rem;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0
}

.share__text {
    text-align: start;
    max-width: 96.2rem;
    width: 100%;
    display: block
}

.share__text-what {
    font-size: 12rem;
    line-height: 12rem;
    font-weight: 700
}

.share__text-what.none {
    display: none
}

.share__text-why {
    font-size: 3rem;
    line-height: 4.6rem;
    padding-top: 5rem
}

.about .container {
    text-align: center
}

.about__text {
    max-width: 96.2rem;
    width: 100%;
    font-size: 3rem;
    line-height: 4.6rem;
    margin: 6rem auto 0 auto
}

.footer {
    margin-top: 20rem;
    margin-bottom: 6rem
}

.footer__list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    justify-content: center
}

.footer__list-2 {
    text-align: center;
    row-gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column
}

.footer__link-2 {
    font-size: 1.6rem;
    line-height: 2.4rem
}

.lang-item {
    height: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #ffffff50;
    width: 45px;
    padding-left: 1.1rem;
    padding-top: 0.85rem;
    border-radius: 1rem;
    position: fixed;
    top: 25px;
    right: 20px;
    backdrop-filter: blur(10px)
}

.lang-item.active {
    height: 11.5rem
}

.lang-active {
    padding-bottom: 2rem;
    font-size: 1.6rem
}

.header__link.lang-active {
    padding-top: .1rem;
    margin-top: -.1rem
}

@media (max-width: 1320px) {
    .mySwiper .swiper__slide-text {
        width: 100%;
        z-index: 3
    }

    .mySwiper .swiper__slide-button {
        padding-top: 3rem
    }

    .mySwiper .swiper__slide-name {
        font-size: 8rem;
        line-height: 10rem
    }

    .done__title {
        font-size: 25.5rem
    }

    .done-box-text {
        font-size: 2rem;
        line-height: 3.6rem;
        font-weight: 400;
        padding-left: 10rem;
        max-width: 100%;
        width: 100%;
        padding-bottom: 8rem
    }

    .mySwiper2 {
        margin-top: 20rem
    }

    .share {
        min-height: 70rem;
        max-height: 70rem
    }

    .share__text-what {
        font-size: 10rem;
        line-height: 10rem
    }

    .share__text-why {
        padding-top: 3rem
    }
}

@media (max-width: 1024px) {
    .header__logo-name {
        display: none
    }

    .mySwiper .swiper__slide-text {
        padding-top: 20rem
    }

    .mySwiper .swiper__slide-button {
        padding-top: 20rem
    }

    .mySwiper .swiper__slide-name {
        padding: 2rem 1rem 0 1rem
    }

    .mySwiper .swiper-slide {
        width: 100%;
        height: 100vh
    }

    .mySwiper .swiper-slide:nth-of-type(1) {
        background: url("../img/header__background.png") no-repeat center center/cover
    }

    .mySwiper .swiper-slide:nth-of-type(2) {
        background: url("../img/header__background3.png") no-repeat center right/cover
    }

    .mySwiper .swiper-slide:nth-of-type(3) {
        background: url("../img/header__background2.png") no-repeat center center/cover
    }

    .mySwiper .swiper-slide video {
        display: none
    }

    .share__text-what {
        font-size: 8rem;
        line-height: 8rem
    }

    .share__text-why {
        padding-top: 0rem
    }
}

@media (max-width: 768px) {
    .buttons.none {
        display: flex !important
    }

    .footer {
        margin-top: 10rem
    }

    .share__text-what {
        display: none
    }

    .share__text-what.none {
        display: block
    }

    .header__item {
        display: none
    }

    .header__item.lang-item {
        display: flex
    }

    .mySwiper .swiper__slide-text {
        padding-top: 10rem
    }

    .mySwiper .swiper__slide-button {
        padding-top: 10rem
    }
}

@media (max-width: 576px) {
    .intro {
        max-height: 75rem;
        min-height: 75rem
    }

    .intro__name {
        font-size: 7rem;
        line-height: 7rem
    }

    .intro__about {
        font-size: 3rem;
        line-height: 4.6rem
    }

    .share {
        background: url("../img/theatre.jpeg") no-repeat 50% 75%/cover
    }

    .share__img {
        display: none
    }
}

@media (max-width: 475px) {
    .mySwiper .swiper__slide-name {
        font-size: 4rem;
        line-height: 5rem
    }

    .mySwiper .swiper__slide-button {
        padding-top: 10rem
    }

    .movies .container {
        font-size: 2rem;
        line-height: 3rem
    }

    .mySwiper2 {
        margin-top: 5rem !important
    }

    .mySwiper2 .swiper-slide {
        max-width: 25rem !important;
        width: 100% !important
    }

    .mySwiper2 .swiper-slide-active {
        width: 100% !important;
        max-width: 27rem !important
    }

    .about__text {
        font-size: 2rem;
        line-height: 3rem
    }

    .share {
        max-height: 75rem;
        min-height: 75rem
    }

    .share::after {
        height: 10rem
    }

    .share__text-what {
        font-size: 5rem;
        line-height: 6rem;
        width: 80%
    }

    .share__text-why {
        font-size: 2rem;
        line-height: 3rem
    }

    .intro {
        max-height: 50rem;
        min-height: 50rem
    }

    .intro__name {
        font-size: 5rem;
        line-height: 5rem
    }

    .intro__about {
        font-size: 2rem;
        line-height: 2.6rem;
        padding: 0 1rem
    }

    .button-name {
        font-size: 1.4rem !important
    }

    .button {
        margin: 0 .5rem;
        padding: 0 !important
    }
}

@media (max-width: 450px) {
    .share {
        max-height: 75rem;
        min-height: 75rem
    }
}

.buttons.none {
    display: none;
    align-items: center;
    justify-content: center
}

.buttons .button {
    width: 50%;
    margin: 0 1rem;
    min-height: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #ffffff20;
    padding: 2rem;
    border-radius: 1.2rem;
    margin-top: 6rem
}

.buttons .button * {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem
}

.header__logo-img {
    max-width: 9.4rem;
    width: 100%;
}

.about__logo {
    max-width: 28rem;
    width: 100%;
}